@import "tailwindcss";


body {
  background-image: url('/background.png');   background-blend-mode: color;
  background-color: #160d1d;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
